$Header-grey: rgb(241, 241, 241);
$Card-text-color: white;
$Icon-border: black;
$Icon-fattigdom: #E5243B;
$Icon-hunger: #DDA63A;
$Icon-sundhed: #4C9F38;
$Icon-kvalitetsuddannelse: #C5192D;
$Icon-ligestilling: #FF3A21;
$Icon-rent-vand: #26BDE2;
$Icon-energi: #FCC30B;
$Icon-job: #A21942;
$Icon-industri: #FD6925;
$Icon-ulighed: #DD1367;
$Icon-baeredygtig: #FD9D24;
$Icon-produktion: #BF8B2E;
$Icon-klimaindsats: #3F7E44;
$Icon-havet: #0A97D9;
$Icon-land: #56C02B;
$Icon-fred: #00689D;
$Icon-partnerskab: #19486A;