//Colors
@use "./abstracts/colors";
//Fonts
@use "./abstracts/fonts";
// components
@use "./components/cards";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    @include fonts.font;
}

#sec1 {
    max-width: 100vh;
}

#mother {
    @include cards.cardsStyle
    }
